# Ciência dos Dados - Projeto 1


** Nome:** Gabriel Miras Floriano

**Pergunta:** Com uma elevada população urbana e um setor de serviços desenvolvido, eles são capazes de afetar o IDH?

# IDH, População Urbana e Setor de Serviços
Foram coletados três dados do site https://www.gapminder.org/, sendo que um deles foi definido pelo professor e os outros dois foram de livre escolha dos alunos:

1. IDH (Índice de Desenvolvimento Humano)
2. População Urbana (% do total)
3. Setor de Serviços (% do PIB)

Nesses dataframes, as linhas representam os países e as colunas representam o ano.

Como os arquivos estão separados, será preciso juntá-los cruzando o país, restringindo a análise do ano 2009.

# Leitura dos arquivos e mudanças de índices

In [47]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib
import numpy as np

In [48]:
#Leitura dos arquivos em excel
hdi = pd.read_excel('Indicator_HDI.xlsx')
UP = pd.read_excel('UP.xlsx')
S = pd.read_excel('S.xlsx')

# IDH

É possível verificar que cada linha representa um país e as colunas representam o ano.

In [49]:
hdi= hdi[["HDI", 2009]]
hdi.head(10)

                     HDI   2009
0               Abkhazia    NaN
1            Afghanistan  0.387
2  Akrotiri and Dhekelia    NaN
3                Albania  0.734
4                Algeria  0.691
5         American Samoa    NaN
6                Andorra    NaN
7                 Angola  0.481
8               Anguilla    NaN
9    Antigua and Barbuda    NaN

# População Urbana

É possível verificar que cada linha representa um país e as colunas representam o ano.

In [50]:
UP= UP[["Urban population (% of total)", '2009']]
UP.head(10)

  Urban population (% of total)     2009
0                      Abkhazia      NaN
1                   Afghanistan  22.9676
2         Akrotiri and Dhekelia      NaN
3                       Albania  51.2184
4                       Algeria  70.9570
5                American Samoa  92.6390
6                       Andorra  88.3126
7                        Angola  57.4918
8                      Anguilla      NaN
9           Antigua and Barbuda  30.0322

# Setor de Serviços

É possível verificar que cada linha representa um país e as colunas representam o ano.

In [51]:
S= S[["Services, etc., value added (% of GDP)", '2009']]
S.head(10)

  Services, etc., value added (% of GDP)       2009
0                            Afghanistan  47.607657
1                                Albania  60.239255
2                                Algeria  30.960967
3                         American Samoa        NaN
4                                Andorra        NaN
5                                 Angola  30.751248
6                    Antigua and Barbuda  76.285758
7                              Argentina  60.697484
8                                Armenia  45.280450
9                                  Aruba        NaN

# Junção das tabelas

In [52]:
df = hdi.join(UP, how='inner', lsuffix='hdi', rsuffix='2009')
df.head(21)

                      HDI   2009 Urban population (% of total)     2009
0                Abkhazia    NaN                      Abkhazia      NaN
1             Afghanistan  0.387                   Afghanistan  22.9676
2   Akrotiri and Dhekelia    NaN         Akrotiri and Dhekelia      NaN
3                 Albania  0.734                       Albania  51.2184
4                 Algeria  0.691                       Algeria  70.9570
5          American Samoa    NaN                American Samoa  92.6390
6                 Andorra    NaN                       Andorra  88.3126
7                  Angola  0.481                        Angola  57.4918
8                Anguilla    NaN                      Anguilla      NaN
9     Antigua and Barbuda    NaN           Antigua and Barbuda  30.0322
10              Argentina  0.788                     Argentina  92.1556
11                Armenia  0.712                       Armenia  64.0896
12                  Aruba    NaN                         Aruba  46.7416
13              Australia  0.926                     Australia  88.8732
14                Austria  0.879                       Austria  67.2700
15             Azerbaijan    NaN                    Azerbaijan  53.1986
16                Bahamas  0.769                       Bahamas  83.8648
17                Bahrain  0.805                       Bahrain  88.5782
18             Bangladesh  0.491                    Bangladesh  27.4424
19               Barbados  0.790                      Barbados  43.3476
20                Belarus  0.746                       Belarus  74.1628

In [53]:
data = df.join(S, how="inner", lsuffix = ' ', rsuffix = ' ')
data.head(21)

,HDI,2009,Urban population (% of total),2009,"Services, etc., value added (% of GDP)",2009
0,Abkhazia,NaN,Abkhazia,NaN,Afghanistan,47.607657
1,Afghanistan,0.387,Afghanistan,22.9676,Albania,60.239255
2,Akrotiri and Dhekelia,NaN,Akrotiri and Dhekelia,NaN,Algeria,30.960967
3,Albania,0.734,Albania,51.2184,American Samoa,NaN
4,Algeria,0.691,Algeria,70.9570,Andorra,NaN
5,American Samoa,NaN,American Samoa,92.6390,Angola,30.751248
6,Andorra,NaN,Andorra,88.3126,Antigua and Barbuda,76.285758
7,Angola,0.481,Angola,57.4918,Argentina,60.697484
8,Anguilla,NaN,Anguilla,NaN,Armenia,45.280450
9,Antigua and Barbuda,NaN,Antigua and Barbuda,30.0322,Aruba,NaN
10,Argentina,0.788,Argentina,92.1556,Australia,76.374114
11,Armenia,0.712,Armenia,64.0896,Austria,69.354040
12,Aruba,NaN,Aruba,46.7416,Azerbaijan,32.268935
13,Australia,0.926,Australia,88.8732,Bahamas,83.582767
14,Austria,0.879,Austria,67.2700,Bahrain,NaN
15,Azerbaijan,NaN,Azerbaijan,53.1986,Bangladesh,52.614079
16,Bahamas,0.769,Bahamas,83.8648,Barbados,73.762524
17,Bahrain,0.805,Bahrain,88.5782,Belarus,48.290299
18,Bangladesh,0.491,Bangladesh,27.4424,Belgium,77.691864
19,Barbados,0.790,Barbados,43.3476,Belize,NaN
20,Belarus,0.746,Belarus,74.1628,Benin,NaN

In [55]:
writer = pd.ExcelWriter('Projeto1.xlsx')
data.to_excel(writer,'data')
writer.save()